<!DOCTYPE html>
<html>
 <head>
  <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Bass-ically You</title>
  <link rel="stylesheet" href="css/style.css">
    </head>
 <body>
   <h1>
   <br>
   <img src="http://www.clipartbest.com/cliparts/yco/ed7/ycoed7zcE.jpeg" height=65>
     BASS-ICALLY YOU </h1>
   <h2> A MUSIC PORTRAIT </h2>
   
<<<<<<< HEAD:views/index.erb
   <p> Hi. <br> This is your space to fill to your heart's content <br> with your favorite instruments, songs, genres, <br> noises, and nonsense. <br> Go on. We'll do the rest. </p> 
   <form method="POST" action="/survey">
   <div> <a href=survey> <button type="button" style="height: 100px; width: 400px; font-size: 45px; font-family: 'Rum Raisin', sans-serif; border-radius:20px"> Let's get started! </button></a> </div>
     </body>
   </html>
=======
 </body>
</html>
>>>>>>> 92adfb0621d07b2d4427192847ef4d72e8fa1fbb:views/index1.erb
