<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Bass-ically You</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
   <h1>
   <br>
   <img src="http://www.clipartbest.com/cliparts/yco/ed7/ycoed7zcE.jpeg" height=75>
     BASS-ICALLY YOU </h1>
   <h2> A MUSIC PORTRAIT </h2>
   <br>
   <p> Hi.
     This is your space to fill to your heart's content with your favorite instruments, songs, genres, noises, and nonsense.
     Go on. We'll do the rest. </p> 
   
   <div> <a href=survey.erb> <button type="button" style="height: 100px; width: 400px"> Let's get started! </button></a> </div>
   
   
 </body>
</html>