<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Bass-ically You</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
  <h1> <img src="http://www.clipartbest.com/cliparts/4cb/MXj/4cbMXjdcg.png" height=200> BASS-ICALLY YOU. </h1>
   <h2> A MUSIC PORTRAIT </h2>
   <p> Hi.
     This is your space to fill to your heart's content with your favorite instruments, songs, genres, noises and nonsense.
     Go on - We'll do the rest. </p> 
  <h1> <img src="http://www.clipartbest.com/cliparts/yco/ed7/ycoed7zcE.jpeg" height=200> BASS-ICALLY YOU </h1>
   <h2> A MUSIC PORTRAIT </h2>
   <p> Hi.
     This is your space to fill to your heart's content with your favorite instruments, songs, genres, noises and nonsense.
     Go on. We'll do the rest. </p> 
   
   <a href=survey.erb> <button type="button" > Let's get started! </button></a>
   
   
 </body>
</html>
