<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
   <title>Bass-ically You</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
      <div id="title-section">
   <h1> Bass-ically You</h1>
   <h2> A Music Portrait </h2>
  </div>
   <div class="info">
  <h3> Hi. This is your space to fill your heart's content with your favorite instuments, songs, artists, genres, noises, and nonsense. Go on. We'll do the rest. </h3>
   </div>
   <div class="survey">
     <p> <%=@name%> </p>
   </div>
        
 </body>
</html>