<!DOCTYPE html>
<html>
 <head>
  <link href='http://fonts.googleapis.com/css?family=Rum+Raisin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <title>Bass-ically You</title>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <body>
   <h1>
   <br>
   <img src="http://www.clipartbest.com/cliparts/yco/ed7/ycoed7zcE.jpeg" height=65>
     BASS-ICALLY YOU </h1>
   <h2> A MUSIC PORTRAIT </h2>
   <div class="survey">
     <form method="POST" action="/portrait">
       Name: <input type="text" name="name"><br>
       Primary Instrument: <input type="text" name="instrument"><br>
       Genre of Choice to PLAY: <input type="text" name="play"><br>
       Genre of Choice to LISTEN TO: <input type="text" name="listen"><br>
       Favorite Artist: <input type="text" name="artist"><br>
       What do you look like?: <input type="text" name="picture"><br>
      <div> <a> <input type="submit" style="height: 50px; width: 200px; font-size: 35px"> </a> </div>
     </form> 
   </div>
        
 </body>
</html>